* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--light-color);
  overflow-x: hidden;
}

.buffer {
  background-image: url("https://picsum.photos/3840/2160");
  width: 100%;
  height: 100%;
  z-index: -2;
}

/* loader animations */
.screen1 {
  background-color: var(--sec-color);
  position: absolute;
  width: 100%;
  height: 100%;
}

.screen2 {
  background: var(--light-color);
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* after loading animation */
.filler {
  width: 100%;
  height: 100%;
}

.screen3 {
  background-color: var(--sec-color);
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.screen4 {
  background-color: var(--dark-color);
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.preloader {
  background-color: var(--dark-color);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 3;
}

.preloader h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 7vh;
  color: var(--dark-color);
  margin-bottom: 0;
}

.loader {
  text-align: center;
  background: linear-gradient(to left, #222 20%, #9e9e9e 60%, #222 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1.3s linear infinite;
}

@keyframes shine {
  to {
    background-position: -200% center;
  }
}

/* navbnar-style */
.navbar .navbar-logo h1 {
  font-size: 7vh;
  font-family: "Major Mono Display", monospace;
  color: var(--light-color);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0.1em;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

/* navbar-links style */
.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: var(--color-links);
  font-size: 2vh;
  padding-right: 3vw;
  font-family: "Oswald", sans-serif;
  transition: all 0.15s ease-in-out;
}

.navbar-links a:hover {
  color: var(--sec-color);
  transition: all 0.15s ease-in-out;
}

/* create hidden hamburger menu */
.hamburger {
  display: none;
  cursor: pointer;
}

/*create responsive size for navbar*/
@media screen and (max-width: 768px) {
  /*resize navbar to fit mobile vertically*/
  .navbar {
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-110%);
    transition: transform 0.25s ease-in;
    background-color: var(--light-color);
    display: block;
    /* backdrop-filter: blur(8px); */
  }

  .navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3vh;
  }

  .navbar-logo h1 {
    color: var(--dark-color) !important;
  }

  /* transition */
  .nav-active {
    transform: translateX(0%);
  }

  .navbar-links {
    display: inline-block;
    padding-right: 2.5%;
    padding-left: 2.5%;
    width: 95%;
  }

  .navbar .navbar-links a {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 97%;
    height: 3.7rem;
    transition: all 300ms ease;
  }

  .navbar .navbar-links a:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  /* create a hamburger for the .navbar */
  .hamburger {
    display: flex;
    color: var(--dark-color);
    z-index: 1;
  }

  .hamburger-open {
    padding: 3px;
    position: fixed;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* estiling for the hamburger menu using spans  */
  .hamburger-open span {
    background: var(--light-color);
    width: 10px;
    height: 3px;
    margin: 4px 0;
    transition: all 0.2s;
  }
  .hamburger-open span:nth-child(1) {
    width: 40px;
    height: 3px;
  }
  .hamburger-open span:nth-child(2) {
    width: 27px;
    height: 3px;
  }
  .hamburger-open span:nth-child(3) {
    width: 15px;
    height: 3px;
  }
  .hamburger-open:hover span {
    width: 40px;
    transition: 0.2s ease-in-out;
  }

  .hamburger-close {
    color: var(--dark-color);
    transition: all 0.3s;
  }
  .hamburger-close:hover {
    color: var(--sec-color) !important;
    transition: all 0.3s;
  }
}
/*todo lo que tiene que ver con el main-content*/

/* main-content style */
.main-content {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.start-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow-y: hidden;
}

.start-wrapper .name {
  font-size: 2em;
}
.name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 0;
  background-color: var(--glass-color);
  /* backdrop-filter: blur(8px); */
}
.start-wrapper .profesions {
  font-size: 1.5em;
}

.main-sent {
  font-family: "Oswald", sans-serif;
}

#changeText {
  opacity: 1;
  color: var(--sec-color);
  transition: opacity 0.5s;
}

.hide {
  opacity: 0 !important;
}